<div class="col-8">
<div class="data_container" id="structure_description_container" style="border-style: solid; border-width: 2px; border-color: black; height:14em; overflow:scroll;">
  <p><strong>Structure:</strong> nome della struttura e sua descrizione<p>

  <ol>
    <li>
      <div class="layer">
        <strong>name:</strong>air &mdash;
        <strong>fname:</strong>xxx/yyy/zzzz.in3 &mdash;
        <strong>coherent:</strong><input type="checkbox"></input> &mdash;
        <strong>roughness:</strong><input value="0" size="7"></input>
        <strong>thickness:</strong><input value="10" size="7"></input>
      </div>
    </li>
    <li>
      <div class="layer">
        <strong>name:</strong>air &mdash;
        <strong>fname:</strong>xxx/yyy/zzzz.in3 &mdash;
        <strong>coherent:</strong><input type="checkbox"></input> &mdash;
        <strong>roughness:</strong><input value="0" size="7"></input>
        <strong>thickness:</strong><input value="10" size="7"></input>
      </div>
    </li>
    <li>
      <div class="layer">
        <strong>name:</strong>air &mdash;
        <strong>fname:</strong>xxx/yyy/zzzz.in3 &mdash;
        <strong>coherent:</strong><input type="checkbox"></input> &mdash;
        <strong>roughness:</strong><input value="0" size="7"></input>
        <strong>thickness:</strong><input value="10" size="7"></input>
      </div>
    </li>
    <li>
      <div class="layer">
        <strong>name:</strong>air &mdash;
        <strong>fname:</strong>xxx/yyy/zzzz.in3 &mdash;
        <strong>coherent:</strong><input type="checkbox"></input> &mdash;
        <strong>roughness:</strong><input value="0" size="7"></input>
        <strong>thickness:</strong><input value="10" size="7"></input>
      </div>
    </li>
  </ol>
  <p><strong>TODO:</strong> bisogna aggiungere i tasti: save, cancel nel caso la struttura venga modificata per, rispettivamente, salvare la nuova, ripristinare i valori letti</p>
</div>
</div>
