  <div class="col-10" id="status_display"></div>
  <div class="col-10" id="error_display" onclick="document.getElementById('error_display').style.display='none';"></div>

  <div class="row" name="model_selector_container">
    <div class="col-10">

      <div><hr></hr></div>

      <div> {% include "param_model_edit_panel.html" %} </div>
      <div><hr></hr></div>

      <h3>chi2</h3>
      <form id="chi2_panel_form" action=";">
        <p>
          <label>compute with respect to:</label>
          <br />

          <label for="R">R:</label>
          <input type='checkbox' checked onchange="refresh_plot();" name="chi2_R"></input>

          <label for="T">T:</label>
          <input type='checkbox' checked onchange="refresh_plot();" name="chi2_T"></input>
        </p>
      </form>
      <div id="chi2_value"></div>

      <div><hr></hr></div>
      <div> {% include "param_plot_edit_panel.html" %} </div>
        <input type="submit" id="refresh_model_grap_btn" value="refresh graph (Alt+r)" accesskey="r" class="file_selector" onclick="refresh_plot();">
        </input>
    </div>
  </div>
