<div class="row">
	<div class="col-2">
		<h2>{{ page_name }}</h2>
	</div>
	<div class="col-2" class="page_navigator">
	{% if links %}
		{% for name, url in links %}
		<a href="{{ escape(url) }}">{{ escape(name) }}</a>
		{% end %}
	{% end %}
	</div>
</div>
<div class="row">
	<div class="col-8" id="result_display">
		{% if results %}
			{{ escape(result_title) }}
			{% for result in results %}
			<br>{{ escape(result) }}</br>
			{% end %}
		{% end %}
	</div>
	<div class="col-10" id="error_display" onclick="document.getElementById('error_display').style.display='none';">
		{% if errors %}
			errors:
			{% for error in errors %}
			<br>{{ escape(str(error)) }}</br>
			{% end %}
		{% end %}
	</div>
</div>    
