{% extends "base.html" %}


{% block article %}

<div class="row">
	<div class="col-10" id="status_display"></div>
	<div class="col-10" id="error_display" onclick="document.getElementById('error_display').style.display='none';"></div>
</div>
<div class="row">
	<div class="col-2"></div>
	<div class="col-7" class="data_container" id="pygal_description_container"></div>    
</div>
<div class="row">
	<div class="col-2">
		<div class="row" name="model_selector_container">
			<div class="col-10">
				<div> {% include "param_edit_panel.html" %} </div>    
				<div><hr></hr></div>    
				<p>
					<label for="structure_selector" id="structure_selector_label" class="file_selector">select a structure file:</label>
				</p>
				<select id="structure_selector" onchange="on_file_selected('structure');" class="file_selector">
					{% for name in structure_file_list %}
						{% if structure_file == name %}
							<option value="{{ name }}" selected='on'>{{ name }}</option>
						{% else %}
							<option value="{{ name }}">{{ name }}</option>
						{% end %}
					{% end %}
				</select>
				<div><hr></hr></div>    
				<p><label for="measure_selector" id="measure_selector_label" class="file_selector">select a measurement file:</label></p>
				<select id="measure_selector" onchange="on_file_selected('measure');" class="file_selector">
					{% for name in measure_file_list %}
						{% if measure_file == name %}
							<option value="{{ name }}" selected='on'>{{ name }}</option>
						{% else %}
							<option value="{{ name }}">{{ name }}</option>
						{% end %}
					{% end %}
				</select>
				<div><hr></hr></div>    
				<input type="submit" id="refresh_data_graph_btn" value="refresh graph (Alt+r)" accesskey="r" 
					 class="file_selector" onclick="refresh_data_graph();">
				</input>
			</div>    
		</div>    
	</div>
	<div class="col-7" class="data_container" id="pygal_data_container">
	</div>    
	

</div>    

{% end %}
