{% extends "base.html" %}


{% block article %}

<div class="row"> 
	<div class="col-10">
		<input class="btn" type="button" name="install_templates_btn" onclick="install_templates();" value="install templates from template library"></input>
		<label>(will overwrite existent copies)</label>
	</div>
</div>    
<div class="row"> 
	<hr></hr>
</div>    
<div class="row"> 
	<div class="col-8">
		<div class="view_file_container" hidden>
			<span id="view_file_name" class="small_btn" onclick="toggle_element_view('view_file_content');"></span> 
			<span id="view_file_type" hidden></span> 
			<span class="small_btn" onclick="on_save_file_button_clicked();">save</span> 
			<pre id="view_file_content" contenteditable="true"></pre>
		</div>    
	</div>    
</div>    
<div class="row">
	<div class="col-4">
		<div id="structure_file_list" class="file_list">    
			{% if structure_file_list %}
				<h3>structure files:</h3>
				{% for f in structure_file_list %}
				<br><span>{{ escape(str(f)) }}</span> 
				<span class="small_btn" onclick="on_template_clicked('edit',   'structure', '{{ escape(str(f)) }}');">view/edit</span> 
				<span class="small_btn" onclick="on_template_clicked('delete', 'structure', '{{ escape(str(f)) }}');">delete</span> 
				<span class="small_btn" onclick="on_template_clicked('clone',  'structure', '{{ escape(str(f)) }}');">clone </span> 
				<span class="small_btn" onclick="on_template_clicked('clone',  'structure', '{{ escape(str(f)) }}');">rename</span> 
				</br>
				{% end %}
			{% end %}
		</div>    
		<hr></hr>
		<div>
			<h3>upload structure file (json format)</h3>
			<form method="POST" action="/setup" enctype="multipart/form-data" id="upload_structure_form">
				<input class="btn" type="file" name="structure_file" multiple="true" autocomplete="on" required></input>
			</form>    
		</div>    
		<br></br>    
		<div>    
			<input class="btn" type="button" onclick="document.forms['upload_structure_form'].submit();" value="upload"></input>
		</div>    
	</div>    
	<div class="col-4">
		<div id="measure_file_list" class="file_list">    
			{% if measure_file_list %}
				<h3>measure files:</h3>
				{% for f in measure_file_list %}
				<br><span>{{ escape(str(f)) }}</span> 
				<span class="small_btn" onclick="on_template_clicked('edit',   'measure', '{{ escape(str(f)) }}');">view/edit</span> 
				<span class="small_btn" onclick="on_template_clicked('delete', 'measure', '{{ escape(str(f)) }}');">delete</span> 
				<span class="small_btn" onclick="on_template_clicked('clone',  'measure', '{{ escape(str(f)) }}');">clone </span> 
				</br>
				{% end %}
			{% end %}
		</div>    
		<hr></hr>
		<div>
			<h3>upload measurement file (csv format)</h3>
			<form method="POST" action="/setup" enctype="multipart/form-data" id="upload_measure_form">
				<input class="btn" type="file" name="measure_file" multiple="true" autocomplete="on" required></input>
			</form>    
		</div>
		<br></br>    
		<div>    
			<input class="btn"  type="button" onclick="document.forms['upload_measure_form'].submit();" value="upload"></input>
		</div>    
	</div>    
</div>
<div class="row"> 
	<hr></hr>
</div>    


<script>
	init_wsocket();
</script>

{% end %}
