<form id="structure_edit_panel_form" action=";">
<div style="text-align:left;">
{% if structure != {} %}
  <p>
    structure: <strong>{{ structure['name'] }}</strong>
    <input type="button" name="edit" value="edit">
    <input type="button" name="save" value="save">
  </p>
  <hr />
  <table>
    <tr>
      <th>name</th>
      <th>file</th>
      <th style="text-align:center;">thickness<br />(nm)</th>
      <th style="text-align:center;">roughness<br />(nm)</th>
      <th>coherent</th>
      <th>texturized</th>
    </tr>
    {% for i,layer in enumerate(structure['layers']) %}
    <tr>
      <td>{{ layer['name'] }}</td>
      {% if layer['components'][0]['fraction'] == 100 %}
      <td>{{ layer['components'][0]['material_file_name'] }}</td>
      {% else %}
      <td>
        <select>
        {% for material in layer['components'] %}
        <option>{{ material['material_file_name'] }}, {{ material['fraction'] }}</option>
        {% end %}
        </select>
      </td>
      {% end %}
      <td style="text-align: center;"><input type="text" name="thickness" value={{ layer['thickness'] }} size="3" onchange="update_structure();" /></td>
      <td style="text-align: center;"><input type="text" name="roughness" value={{ layer['roughness'] }} size="3" onchange="update_structure();" /></td>
      <td style="text-align: center;"><input type="checkbox" name="coherent"   {% if layer['coherent'] %} checked {% end %}  onchange="update_structure();" /></td>
      <td style="text-align: center;"><input type="checkbox" name="texturized" {% if layer['texturized'] %} checked {% end %}  onchange="update_structure();" /></td>
    </tr>
    {% end %}
  </table>
{% else %}
  <p>
    Please, select a structure.
  </p>
{% end %}
<div>
</form>
