<!doctype html>
<html>
	<head>
		<title>Alhazen frontend</title>
		<meta charset="utf-8" />
		<link type="text/css" rel="stylesheet" href="/static/alhazen.css"/>
		<script type="text/javascript" src="/static/alhazen.js"></script>
	</head>
 
	<body>
		<header>
			<div class="row">
				<div class="col-2"><b id="title">Alhazen frontend</b></div>
				<div class="col-8" id="ws_connection">
					<label for="host">host:</label><input type="text" id="host" value="127.0.0.1"/>
					<label for="port">port:</label><input type="text" id="port" value="8000"/>
					<label for="uri">uri:</label><input type="text" id="uri" value="/websocket"/>
					<input type="submit" id="open_btn" value="connect" onclick="open_btn_clicked();"/>
					<input type="submit" id="close_btn" value="disconnect" onclick="close_btn_clicked();" disabled="true"/>
				</div>
			</div>
			<div class="row">
				<div class="col-2" id="message_container">
					<input type="text" id="message" value="Hot meat!"/>
					<input type="submit" id="send_btn" value="send" onclick="send_btn_clicked();" disabled="true"/>
				</div>
				<div class="col-8" id="status_display">***</div>
				<div class="col-8" id="error_display" onclick="document.getElementById('error_display').style.display='none';"></div>
			</div>    
		</header>
		
		<article>

			<div class="row">
			</div>    

			<div class="row" id="logger_area_container" hidden>
				<textarea id="logger_area" maxlength="50" rows="20" cols="100">
				</textarea>
			</div>    

			<div class="row">
				<div class="col-2"></div>
				<div class="col-7" class="data_container" id="pygal_description_container"></div>    
			</div>
			<div class="row">
				<div class="col-2">
					<div class="row" name="model_selector_container">
						<div id="params_panel"></div>
						<input type="submit" id="reset_model_params_btn" value="reset model params" onclick="reset_model_params();"/>
					</div>    
					<div><hr></hr></div>    
					<div class="row" name="model_selector_container">
						<div class="col-12">
							<label for="model_selector" id="model_selector_label" class="model_selector">model:</label><br></br>
							<select id="model_selector" onchange="import_model();" class="model_selector">
								{% for name in model_names %}
									{% if model_name == name %}
										<option value="{{ name }}" selected='on'>{{ name }}</option>
									{% else %}
										<option value="{{ name }}">{{ name }}</option>
									{% end %}
								{% end %}
							</select>
							<input type="submit" id="reimport_model_btn" value="re-import (Alt+r)" accesskey="r" 
								 class="model_selector" onclick="import_model();">
							
							</input>
						</div>    
					</div>    
				</div>
				<div class="col-7" class="data_container" id="pygal_data_container"></div>    
			</div>    

		</article>

		<footer>
			<small>see: <a href="https://en.wikipedia.org/wiki/Ibn_al-Haytham">Alhazem</a> on wikipedia</small>
		</footer>
	</body>

	<script>
	init_alhazen();
	</script>

</html>
