body {
	font-family: Monospace;
	text-align: center;
	min-width: 600px;
	background-color: #F7FAF7;
}
.hidden {
	display: none;
}
#status_display {
	color: #990000;
	background-color: #FFFF99;
	padding: 10px;
}
.params_panel {
	background-color: #EEEEEE;
	padding: 10px;
	text-align: left;
}
header {
	color:#882222;
	background-color: #EEEEEE;
}
* {
  box-sizing: border-box;
}
.col-1 {width: 10%;}
.col-2 {width: 20%;}
.col-3 {width: 30%;}
.col-4 {width: 40%;}
.col-5 {width: 50%;}
.col-6 {width: 60%;}
.col-7 {width: 70%;}
.col-8 {width: 80%;}
.col-9 {width: 90%;}
.col-10 {width: 100%;}
[class*="col-"] {
  float: left;
  padding: 8px;
//~   border: .1px solid lightgray;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.data_container {
  float: left;
  padding: 8px;
  border: .1px solid lightgray;
}

.file_selector {
	background-color: #FFFFFF;
	padding: 10px;
}

.btn {
	background-color: #FFFFEE;
	padding: 8px;
  border: .01px solid lightgray;
}

.small_btn {
	background-color: #FFFFEE;
	padding: 2px;
  border: .01px solid lightgray;
}

.file_list {
	text-align: left;
	padding: 4px;
  border: .01px solid lightgray;
}

#view_file_content {
    background-color:#FFFFEE;
    overflow: auto;
    overflow-y: scroll;
    max-height:400px;
	text-align: left;
	padding: 6px;
}
